<div class="card"> 
    <div class="card-body">
        <h1>About</h1>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Mollitia suscipit incidunt, at blanditiis eius enim illum sit reprehenderit corrupti, quas aut aliquam, ipsam in. Ex, eum! In, nulla sequi? A tempora nobis provident. Voluptatum autem nam esse deserunt excepturi exercitationem!</p>
    </div> 
</div>